<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("default.task.name") %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t("default.task.content") %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t("default.task.expired_at") %>:</strong>
  <%= @task.expired_at %>
</p>

<p>
  <strong><%= t("default.task.status") %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t("default.task.priority") %>:</strong>
  <%= @task.priority %>
</p>

<p>
  
  <% @task.tags.each do |tag| %>
    <span class="badge bg-dark">
      <%= tag.title %>
    </span>
  <% end %>

</p>

<%= link_to t("default.edit"), edit_task_path(@task) %> |
<%= link_to t("default.back"), tasks_path %>
