<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("default.task.name") %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t("default.task.content") %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t("default.task.deadline") %>:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong><%= t("default.task.status") %>:</strong>
  <%= @task.status %>
</p>

<%= link_to t("default.edit"), edit_task_path(@task) %> |
<%= link_to t("default.back"), tasks_path %>
