<%= form_with(model: tag, local: true, url: tag.id ? admin_tag_path : admin_tags_path) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tags.errors.count, "error") %> prohibited this tags from being saved:</h2>

      <ul>
      <% tags.tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
